<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trading System</title>
</head>
<body>
    <nav th:fragment="nav">
        <div>
            <a href="/">Stock Trading</a>
            
            <div  id="navbarNav">
                <ul >
                    <li>
                        <a  href="/">Home</a>
                    </li>
                    <li>
                        <a  href="/place-order">Place Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html> 